{% extends 'index.html' %}
{% load static %}

{% block title %}Accessories{% endblock title %}
{% block body %}


<div class="md:hidden">
<div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/accessories/3397f3c89835db9916f484c91b06319abac1da1a_original.jpeg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Endless Love Hand Bracelet For Couples <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-1</b></span><br>
          <p class="text-green-600 text-sm mx-2">99% off</p>
          <h5 class="text-sm mx-2">DELIVERY RS-1</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/accessories/29192.jpeg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Black Leather Belt For Men And Women <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1200</s>
          <b>RS-100</b></span><br>
          <p class="text-green-600 text-sm mx-2">95% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
</div>

<div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/accessories/e67d2b746821e89fd4c3cf3e9f8c67c040033c7c_original.jpeg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Watch Combo For Couples <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1200</s>
          <b>RS-200</b></span><br>
          <p class="text-green-600 text-sm mx-2">90% off</p>
          <h5 class="text-sm mx-2">DELIVERY RS-1</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/accessories/Hbfbccf8098e14fd0ba60e7a895a51e7e8.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Love Bracelet For Couples <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-100</b></span><br>
          <p class="text-green-600 text-sm mx-2">90% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
</div>

<div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/accessories/IMG_20230211_154902.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Solid Black Leather Watch For Men<br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1100</s>
          <b>RS-800</b></span><br>
          <p class="text-green-600 text-sm mx-2">30% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/accessories/IMG_20230211_154916.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Shoes + Wallet + Watch Combo Set<br></h4></div>
        <span class="mx-2 text-sm"><s>RS-2000</s>
          <b>RS-1</b></span><br>
          <p class="text-green-600 text-sm mx-2">99% off</p>
          <h5 class="text-sm mx-2">DELIVERY RS-1</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
</div>

<div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/accessories/IMG_20230211_154934.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Purse + Sandles Combo Set For Women <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-500</b></span><br>
          <p class="text-green-600 text-sm mx-2">50% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/accessories/IMG_20230211_154948.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Accessories Combo Set For Women <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-2000</s>
          <b>RS-100</b></span><br>
          <p class="text-green-600 text-sm mx-2">90% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
</div>

<div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/accessories/IMG_20230211_155001.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Watch For Couples<br></h4></div>
        <span class="mx-2 text-sm"><s>RS-3000</s>
          <b>RS-10</b></span><br>
          <p class="text-green-600 text-sm mx-2">90% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/accessories/e67d2b746821e89fd4c3cf3e9f8c67c040033c7c_original.jpeg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Combo Set For Couples <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>OUT OF STOCK</b></span><br>
          <p class="text-green-600 text-sm mx-2">Currently Unavailable</p>
          <h5 class="text-sm mx-2">NO DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
</div>
</div>


<!-- md screen -->
<div class="hidden md:block">
    <div class="flex w-full">
        <div class="w-1/2 product ">
          <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
            <a href="#!">
              <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/accessories/3397f3c89835db9916f484c91b06319abac1da1a_original.jpeg' %}" alt=""/>
            </a>
            <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Endless Love Hand Bracelet For Couples <br></h4></div>
            <span class="mx-2 text-sm"><s>RS-1000</s>
              <b>RS-1</b></span><br>
              <p class="text-green-600 text-sm mx-2">99% off</p>
              <h5 class="text-sm mx-2">DELIVERY RS-1</h5>
              
    <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
      BUY
    </button>
          </div>
        </div>
      <div class="w-1/2 product">
        <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
          <a href="#!">
            <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/accessories/29192.jpeg' %}" alt=""/>
          </a>
          <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Black Leather Belt For Men And Women <br></h4></div>
            <span class="mx-2 text-sm"><s>RS-1200</s>
              <b>RS-100</b></span><br>
              <p class="text-green-600 text-sm mx-2">95% off</p>
              <h5 class="text-sm mx-2">FREE DELIVERY</h5>
            
    <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
    </button>
        </div>
      </div>

        <div class="w-1/2 product ">
          <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
            <a href="#!">
              <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/accessories/e67d2b746821e89fd4c3cf3e9f8c67c040033c7c_original.jpeg' %}" alt=""/>
            </a>
            <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Watch Combo For Couples <br></h4></div>
            <span class="mx-2 text-sm"><s>RS-1200</s>
              <b>RS-200</b></span><br>
              <p class="text-green-600 text-sm mx-2">90% off</p>
              <h5 class="text-sm mx-2">DELIVERY RS-1</h5>
              
    <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
      BUY
    </button>
          </div>
        </div>
      <div class="w-1/2 product">
        <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
          <a href="#!">
            <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/accessories/Hbfbccf8098e14fd0ba60e7a895a51e7e8.jpg' %}" alt=""/>
          </a>
          <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Love Bracelet For Couples <br></h4></div>
            <span class="mx-2 text-sm"><s>RS-1000</s>
              <b>RS-100</b></span><br>
              <p class="text-green-600 text-sm mx-2">90% off</p>
              <h5 class="text-sm mx-2">FREE DELIVERY</h5>
            
    <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
    </button>
        </div>
      </div>
    </div>
    
    <div class="flex w-full">
        <div class="w-1/2 product ">
          <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
            <a href="#!">
              <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/accessories/IMG_20230211_154902.jpg' %}" alt=""/>
            </a>
            <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Solid Black Leather Watch For Men<br></h4></div>
            <span class="mx-2 text-sm"><s>RS-1100</s>
              <b>RS-800</b></span><br>
              <p class="text-green-600 text-sm mx-2">30% off</p>
              <h5 class="text-sm mx-2">FREE DELIVERY</h5>
              
    <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
      BUY
    </button>
          </div>
        </div>
      <div class="w-1/2 product">
        <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
          <a href="#!">
            <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/accessories/IMG_20230211_154916.jpg' %}" alt=""/>
          </a>
          <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Shoes + Wallet + Watch Combo Set<br></h4></div>
            <span class="mx-2 text-sm"><s>RS-2000</s>
              <b>RS-1</b></span><br>
              <p class="text-green-600 text-sm mx-2">99% off</p>
              <h5 class="text-sm mx-2">DELIVERY RS-1</h5>
            
    <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
    </button>
        </div>
      </div>
 
        <div class="w-1/2 product ">
          <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
            <a href="#!">
              <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/accessories/IMG_20230211_154934.jpg' %}" alt=""/>
            </a>
            <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Purse + Sandles Combo Set For Women <br></h4></div>
            <span class="mx-2 text-sm"><s>RS-1000</s>
              <b>RS-500</b></span><br>
              <p class="text-green-600 text-sm mx-2">50% off</p>
              <h5 class="text-sm mx-2">FREE DELIVERY</h5>
              
    <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
      BUY
    </button>
          </div>
        </div>
      <div class="w-1/2 product">
        <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
          <a href="#!">
            <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/accessories/IMG_20230211_154948.jpg' %}" alt=""/>
          </a>
          <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Accessories Combo Set For Women <br></h4></div>
            <span class="mx-2 text-sm"><s>RS-2000</s>
              <b>RS-100</b></span><br>
              <p class="text-green-600 text-sm mx-2">90% off</p>
              <h5 class="text-sm mx-2">FREE DELIVERY</h5>
            
    <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
    </button>
        </div>
      </div>
    </div>
    
    <div class="flex w-full">
        <div class="w-1/2 product ">
          <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
            <a href="#!">
              <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/accessories/IMG_20230211_155001.jpg' %}" alt=""/>
            </a>
            <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Watch For Couples<br></h4></div>
            <span class="mx-2 text-sm"><s>RS-3000</s>
              <b>RS-10</b></span><br>
              <p class="text-green-600 text-sm mx-2">90% off</p>
              <h5 class="text-sm mx-2">FREE DELIVERY</h5>
              
    <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
      BUY
    </button>
          </div>
        </div>
      <div class="w-1/2 product">
        <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
          <a href="#!">
            <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/accessories/e67d2b746821e89fd4c3cf3e9f8c67c040033c7c_original.jpeg' %}" alt=""/>
          </a>
          <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Combo Set For Couples <br></h4></div>
            <span class="mx-2 text-sm"><s>RS-1000</s>
              <b>OUT OF STOCK</b></span><br>
              <p class="text-green-600 text-sm mx-2">Currently Unavailable</p>
              <h5 class="text-sm mx-2">NO DELIVERY</h5>
            
    <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
    </button>
        </div>
      </div>
   
    <div class="w-1/2 product ">
        <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
          <a href="#!">
            <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/accessories/3397f3c89835db9916f484c91b06319abac1da1a_original.jpeg' %}" alt=""/>
          </a>
          <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Endless Love Hand Bracelet For Couples <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-1000</s>
            <b>RS-1</b></span><br>
            <p class="text-green-600 text-sm mx-2">99% off</p>
            <h5 class="text-sm mx-2">DELIVERY RS-1</h5>
            
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
  </button>
        </div>
      </div>
    <div class="w-1/2 product">
      <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/accessories/29192.jpeg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Black Leather Belt For Men And Women <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-1200</s>
            <b>RS-100</b></span><br>
            <p class="text-green-600 text-sm mx-2">95% off</p>
            <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
      </div>
    </div>
  </div>
</div>  
    </div>

{% endblock body %}