{% extends 'index.html' %}
{% load static %}

{% block title %}Kids{% endblock title %}
{% block body %}


  
 <div class="md:hidden" >   
    <div class="flex w-full">
      <div class="w-1/2 product ">
        <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
          <a href="#!">
            <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/1-2-years-22-hf-warsi-original-imagbqgjtzuxzv5x.jpeg' %}" alt=""/>
          </a>
          <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Pink And Black Combo For Baby <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-1000</s>
            <b>RS-800</b></span><br>
            <p class="text-green-600 text-sm mx-2">20% off</p>
            <h5 class="text-sm mx-2">FREE DELIVERY</h5>
            
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
  </button>
        </div>
      </div>
    <div class="w-1/2 product">
      <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/3pcs-baby-clothes-sets-for-baby-girl-boy-clothes-suits-kids-clothing-cotton-tshirt-107.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Greyish Baby Suit For Kids <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-1000</s>
            <b>RS-100</b></span><br>
            <p class="text-green-600 text-sm mx-2">90% off</p>
            <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  </div>

  <div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/12-18-months-boys-pair-02-white-black-tdgr-the-diwa-garments-original-imaga2g9cn6zh8hf.jpeg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Kid Stylish Combo Set <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1200</s>
          <b>RS-240</b></span><br>
          <p class="text-green-600 text-sm mx-2">80% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/boy-hooded-tracksuit-clothes-set-kids-clothing-sets-4-6-8-10-12-14-year-red-4t-kids-586.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Grey Tshirt And Pants For Kids <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-700</b></span><br>
          <p class="text-green-600 text-sm mx-2">30% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/IMG_20230211_143643.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Yellow And Green Gown For Baby Girls <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-500</b></span><br>
        <p class="text-green-600 text-sm mx-2">50% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/IMG_20230211_143652.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Pink And Cream Gown For Baby Girls <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-2000</s>
        <b>RS-200</b></span><br>
        <p class="text-green-600 text-sm mx-2">90% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/IMG_20230211_143720.png' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Embroidered Cream Gowm <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1500</s>
        <b>RS-750</b></span><br>
        <p class="text-green-600 text-sm mx-2">50% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/IMG_20230211_143730.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line"> Red Princess Suit For Girls<br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-800</b></span><br>
        <p class="text-green-600 text-sm mx-2">20% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/IMG_20230211_143739.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Mustard Yellow Dress For Girls  <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-700</b></span><br>
        <p class="text-green-600 text-sm mx-2">30% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/IMG_20230211_143759.png' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Hoodie And Pants Set For Kids<br></h4></div>
      <span class="mx-2 text-sm"><s>RS-2500</s>
        <b>RS-1500</b></span><br>
        <p class="text-green-600 text-sm mx-2">40% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
      <div class="w-1/2 product ">
        <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
          <a href="#!">
            <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/IMG_20230211_143807.jpg' %}" alt=""/>
          </a>
          <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Tshirt And Shorts For Kids <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-1000</s>
            <b>RS-500</b></span><br>
            <p class="text-green-600 text-sm mx-2">50% off</p>
            <h5 class="text-sm mx-2">FREE DELIVERY</h5>
            
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
  </button>
        </div>
      </div>
    <div class="w-1/2 product">
      <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/IMG_20230211_154221.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Cream Color  Dress For Girls <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-1000</s>
            <b>RS-800</b></span><br>
            <p class="text-green-600 text-sm mx-2">20% off</p>
            <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  </div>

  <div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/IMG_20230211_154247.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Combo Night Suit Set <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-200</b></span><br>
          <p class="text-green-600 text-sm mx-2">80% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/Winter-Baby-Boys-Long-Sleeve-Cute-Dog-Fleece-Hoodies-Sweatshirt-Casual-Trousers-Kids-Girls-Two-Pieces__89692.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Black And Pink Night Suit Set <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-900</b></span><br>
          <p class="text-green-600 text-sm mx-2">10% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/newest.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">3 Combo Set Special Offer<br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1500</s>
        <b>RS-495</b></span><br>
        <p class="text-green-600 text-sm mx-2">67% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/product-image-808026337_800x.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Black 3 Combo Set For Boys<br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-600</b></span><br>
        <p class="text-green-600 text-sm mx-2">40% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/toddler-boys-hooded-sweatshirt-clothing-set-fashion-baby-boy-girls-clothes-1-2-3-4-year-227.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Cream And Blud Color Kid Set<br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-1</b></span><br>
        <p class="text-green-600 text-sm mx-2">99% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/Winter-Baby-Boys-Long-Sleeve-Cute-Dog-Fleece-Hoodies-Sweatshirt-Casual-Trousers-Kids-Girls-Two-Pieces__89692.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Pink And Black Night Suit <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>Out Of Stock</b></span><br>
        <p class="text-green-600 text-sm mx-2"></p>
        <h5 class="text-sm mx-2">Currently Unavailable</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>
</div>


<!-- lg screen -->
<div class="hidden md:block" >   
  <div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/1-2-years-22-hf-warsi-original-imagbqgjtzuxzv5x.jpeg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Pink And Black Combo For Baby <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-800</b></span><br>
          <p class="text-green-600 text-sm mx-2">20% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/3pcs-baby-clothes-sets-for-baby-girl-boy-clothes-suits-kids-clothing-cotton-tshirt-107.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Greyish Baby Suit For Kids <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-100</b></span><br>
          <p class="text-green-600 text-sm mx-2">90% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>

  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/12-18-months-boys-pair-02-white-black-tdgr-the-diwa-garments-original-imaga2g9cn6zh8hf.jpeg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Kid Stylish Combo Set <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1200</s>
        <b>RS-240</b></span><br>
        <p class="text-green-600 text-sm mx-2">80% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/boy-hooded-tracksuit-clothes-set-kids-clothing-sets-4-6-8-10-12-14-year-red-4t-kids-586.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Grey Tshirt And Pants For Kids <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-700</b></span><br>
        <p class="text-green-600 text-sm mx-2">30% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
<div class="w-1/2 product ">
  <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/IMG_20230211_143643.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Yellow And Green Gown For Baby Girls <br></h4></div>
    <span class="mx-2 text-sm"><s>RS-1000</s>
      <b>RS-500</b></span><br>
      <p class="text-green-600 text-sm mx-2">50% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
<div class="w-1/2 product">
<div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
  <a href="#!">
    <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/IMG_20230211_143652.jpg' %}" alt=""/>
  </a>
  <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Pink And Cream Gown For Baby Girls <br></h4></div>
    <span class="mx-2 text-sm"><s>RS-2000</s>
      <b>RS-200</b></span><br>
      <p class="text-green-600 text-sm mx-2">90% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
    
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
</div>
</div>

<div class="w-1/2 product ">
  <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/IMG_20230211_143720.png' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Embroidered Cream Gowm <br></h4></div>
    <span class="mx-2 text-sm"><s>RS-1500</s>
      <b>RS-750</b></span><br>
      <p class="text-green-600 text-sm mx-2">50% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
<div class="w-1/2 product">
<div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
  <a href="#!">
    <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/IMG_20230211_143730.jpg' %}" alt=""/>
  </a>
  <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line"> Red Princess Suit For Girls<br></h4></div>
    <span class="mx-2 text-sm"><s>RS-1000</s>
      <b>RS-800</b></span><br>
      <p class="text-green-600 text-sm mx-2">20% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
    
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
</div>
</div>
</div>

<div class="flex w-full">
<div class="w-1/2 product ">
  <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/IMG_20230211_143739.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Mustard Yellow Dress For Girls  <br></h4></div>
    <span class="mx-2 text-sm"><s>RS-1000</s>
      <b>RS-700</b></span><br>
      <p class="text-green-600 text-sm mx-2">30% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
<div class="w-1/2 product">
<div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
  <a href="#!">
    <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/IMG_20230211_143759.png' %}" alt=""/>
  </a>
  <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Hoodie And Pants Set For Kids<br></h4></div>
    <span class="mx-2 text-sm"><s>RS-2500</s>
      <b>RS-1500</b></span><br>
      <p class="text-green-600 text-sm mx-2">40% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
    
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
</div>
</div>

    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/IMG_20230211_143807.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Tshirt And Shorts For Kids <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-500</b></span><br>
          <p class="text-green-600 text-sm mx-2">50% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/IMG_20230211_154221.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Cream Color  Dress For Girls <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-800</b></span><br>
          <p class="text-green-600 text-sm mx-2">20% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
</div>

<div class="flex w-full">
  
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/toddler-boys-hooded-sweatshirt-clothing-set-fashion-baby-boy-girls-clothes-1-2-3-4-year-227.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Cream And Blud Color Kid Set<br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-1</b></span><br>
          <p class="text-green-600 text-sm mx-2">99% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
    <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
    </button>
      </div>
    </div>
    <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/Winter-Baby-Boys-Long-Sleeve-Cute-Dog-Fleece-Hoodies-Sweatshirt-Casual-Trousers-Kids-Girls-Two-Pieces__89692.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Pink And Black Night Suit <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>Out Of Stock</b></span><br>
          <p class="text-green-600 text-sm mx-2"></p>
          <h5 class="text-sm mx-2">Currently Unavailable</h5>
        
    <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
    </button>
  </div>
</div>

<div class="w-1/2 product ">
  <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/kids/newest.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">3 Combo Set Special Offer<br></h4></div>
    <span class="mx-2 text-sm"><s>RS-1500</s>
      <b>RS-495</b></span><br>
      <p class="text-green-600 text-sm mx-2">67% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
<div class="w-1/2 product">
<div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
  <a href="#!">
    <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/kids/product-image-808026337_800x.jpg' %}" alt=""/>
  </a>
  <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Black 3 Combo Set For Boys<br></h4></div>
    <span class="mx-2 text-sm"><s>RS-1000</s>
      <b>RS-600</b></span><br>
      <p class="text-green-600 text-sm mx-2">40% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
    
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
</div>
</div>
</div>


</div>





  
 {% endblock %}
  
 
 