{% extends 'index.html' %}
{% load static %}

{% block title %}Men{% endblock title %}
{% block body %}


  
<div class="md:hidden" >    
    <div class="flex w-full">
      <div class="w-1/2 product ">
        <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
          <a href="#!">
            <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/Fashion-Shirts-For-Men-Long-Sleeve-Floral-Print-Shirt-Autumn-Shirts-Men-Dress-Camisa-Button-Lapels-2.jpg' %}" alt=""/>
          </a>
          <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Printed Black Casual Shirt <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-1000</s>
            <b>RS-800</b></span><br>
            <p class="text-green-600 text-sm mx-2">20% off</p>
            <h5 class="text-sm mx-2">FREE DELIVERY</h5>
            
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
  </button>
        </div>
      </div>
    <div class="w-1/2 product">
      <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_151859.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Blue And White Lines Shirt <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-1200</s>
            <b>RS-600</b></span><br>
            <p class="text-green-600 text-sm mx-2">50% off</p>
            <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  </div>

  <div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_151910.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Basic Black Plain T-Shirt <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-750</b></span><br>
          <p class="text-green-600 text-sm mx-2">25% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_151919.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">White Basic T-Shirt></h4></div>
        <span class="mx-2 text-sm"><s>RS-600</s>
          <b>RS-300</b></span><br>
          <p class="text-green-600 text-sm mx-2">50% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_151929.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Yellow And Blue Chex Shirt<br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1100</s>
        <b>RS-770</b></span><br>
        <p class="text-green-600 text-sm mx-2">30% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_151937.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">White Pirnted Shirt></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-800</b></span><br>
        <p class="text-green-600 text-sm mx-2">20% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_152022.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Green And Black Chex Shirt<br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1100</s>
        <b>RS-770</b></span><br>
        <p class="text-green-600 text-sm mx-2">30% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_152036.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Pink POLO T-Shirt For Men<br></h4></div>
      <span class="mx-2 text-sm"><s>RS-2000</s>
        <b>RS-1200</b></span><br>
        <p class="text-green-600 text-sm mx-2">40x% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_152047.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Dark Blue Casual Shirt For Men<br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-800</b></span><br>
        <p class="text-green-600 text-sm mx-2">20% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_152104.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Shirt + Tshirt Combo Set<br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-800</b></span><br>
        <p class="text-green-600 text-sm mx-2">20% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_152131.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">White Chex Shirt<br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1200</s>
        <b>RS-900</b></span><br>
        <p class="text-green-600 text-sm mx-2">25% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_152144.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Men Striped Shirt<br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1100</s>
        <b>RS-880</b></span><br>
        <p class="text-green-600 text-sm mx-2">20% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_152156.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Slim Fit Casual T-Shirt <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-800</b></span><br>
        <p class="text-green-600 text-sm mx-2">20% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_152232.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Printed Men Round Neck T-Shirt <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-750</b></span><br>
        <p class="text-green-600 text-sm mx-2">25% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_152255.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Branded  White Chex Shirt   <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-2000</s>
        <b>RS-1200</b></span><br>
        <p class="text-green-600 text-sm mx-2">40% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_152312.png' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Naruto Printed Black Tshirt <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1200</s>
        <b>RS-840</b></span><br>
        <p class="text-green-600 text-sm mx-2">30% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
      <div class="w-1/2 product ">
        <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
          <a href="#!">
            <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_152328.jpg' %}" alt=""/>
          </a>
          <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Printed Black Casual Shirt <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-1000</s>
            <b>RS-500</b></span><br>
            <p class="text-green-600 text-sm mx-2">50% off</p>
            <h5 class="text-sm mx-2">FREE DELIVERY</h5>
            
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
  </button>
        </div>
      </div>
    <div class="w-1/2 product">
      <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_152635.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">White Rounded Neck Hoodie  <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-2000</s>
            <b>RS-1500</b></span><br>
            <p class="text-green-600 text-sm mx-2">25% off</p>
            <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  </div>

  <div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_153843.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Grey Formal Blazer For Men<br></h4></div>
        <span class="mx-2 text-sm"><s>RS-5000</s>
          <b>RS-2500</b></span><br>
          <p class="text-green-600 text-sm mx-2">50% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_153851.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Pink Stripped Shirt For Men <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-800</b></span><br>
          <p class="text-green-600 text-sm mx-2">20% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
</div>

</div>
  

<!-- lg screen -->

<div class="hidden md:block" >    
  <div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/Fashion-Shirts-For-Men-Long-Sleeve-Floral-Print-Shirt-Autumn-Shirts-Men-Dress-Camisa-Button-Lapels-2.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Printed Black Casual Shirt <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-800</b></span><br>
          <p class="text-green-600 text-sm mx-2">20% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_151859.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Blue And White Lines Shirt <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1200</s>
          <b>RS-600</b></span><br>
          <p class="text-green-600 text-sm mx-2">50% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>

  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_151910.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Basic Black Plain T-Shirt <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-750</b></span><br>
        <p class="text-green-600 text-sm mx-2">25% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_151919.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">White Basic T-Shirt></h4></div>
      <span class="mx-2 text-sm"><s>RS-600</s>
        <b>RS-300</b></span><br>
        <p class="text-green-600 text-sm mx-2">50% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
<div class="w-1/2 product ">
  <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_151929.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Yellow And Blue Chex Shirt<br></h4></div>
    <span class="mx-2 text-sm"><s>RS-1100</s>
      <b>RS-770</b></span><br>
      <p class="text-green-600 text-sm mx-2">30% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
<div class="w-1/2 product">
<div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
  <a href="#!">
    <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_151937.jpg' %}" alt=""/>
  </a>
  <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">White Pirnted Shirt></h4></div>
    <span class="mx-2 text-sm"><s>RS-1000</s>
      <b>RS-800</b></span><br>
      <p class="text-green-600 text-sm mx-2">20% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
    
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
</div>
</div>

<div class="w-1/2 product ">
  <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_152022.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Green And Black Chex Shirt<br></h4></div>
    <span class="mx-2 text-sm"><s>RS-1100</s>
      <b>RS-770</b></span><br>
      <p class="text-green-600 text-sm mx-2">30% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
<div class="w-1/2 product">
<div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
  <a href="#!">
    <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_152036.jpg' %}" alt=""/>
  </a>
  <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Pink POLO T-Shirt For Men<br></h4></div>
    <span class="mx-2 text-sm"><s>RS-2000</s>
      <b>RS-1200</b></span><br>
      <p class="text-green-600 text-sm mx-2">40x% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
    
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
</div>
</div>
</div>

<div class="flex w-full">
<div class="w-1/2 product ">
  <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_152047.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Dark Blue Casual Shirt For Men<br></h4></div>
    <span class="mx-2 text-sm"><s>RS-1000</s>
      <b>RS-800</b></span><br>
      <p class="text-green-600 text-sm mx-2">20% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
<div class="w-1/2 product">
<div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
  <a href="#!">
    <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_152104.jpg' %}" alt=""/>
  </a>
  <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Shirt + Tshirt Combo Set<br></h4></div>
    <span class="mx-2 text-sm"><s>RS-1000</s>
      <b>RS-800</b></span><br>
      <p class="text-green-600 text-sm mx-2">20% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
    
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
</div>
</div>

<div class="w-1/2 product ">
  <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_152131.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">White Chex Shirt<br></h4></div>
    <span class="mx-2 text-sm"><s>RS-1200</s>
      <b>RS-900</b></span><br>
      <p class="text-green-600 text-sm mx-2">25% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
<div class="w-1/2 product">
<div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
  <a href="#!">
    <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_152144.jpg' %}" alt=""/>
  </a>
  <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Men Striped Shirt<br></h4></div>
    <span class="mx-2 text-sm"><s>RS-1100</s>
      <b>RS-880</b></span><br>
      <p class="text-green-600 text-sm mx-2">20% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
    
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
</div>
</div>
</div>

<div class="flex w-full">
<div class="w-1/2 product ">
  <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_152156.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Slim Fit Casual T-Shirt <br></h4></div>
    <span class="mx-2 text-sm"><s>RS-1000</s>
      <b>RS-800</b></span><br>
      <p class="text-green-600 text-sm mx-2">20% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
<div class="w-1/2 product">
<div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
  <a href="#!">
    <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_152232.jpg' %}" alt=""/>
  </a>
  <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Printed Men Round Neck T-Shirt <br></h4></div>
    <span class="mx-2 text-sm"><s>RS-1000</s>
      <b>RS-750</b></span><br>
      <p class="text-green-600 text-sm mx-2">25% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
    
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
</div>
</div>

<div class="w-1/2 product ">
  <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_152255.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Branded  White Chex Shirt   <br></h4></div>
    <span class="mx-2 text-sm"><s>RS-2000</s>
      <b>RS-1200</b></span><br>
      <p class="text-green-600 text-sm mx-2">40% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
<div class="w-1/2 product">
<div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
  <a href="#!">
    <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_152312.png' %}" alt=""/>
  </a>
  <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Naruto Printed Black Tshirt <br></h4></div>
    <span class="mx-2 text-sm"><s>RS-1200</s>
      <b>RS-840</b></span><br>
      <p class="text-green-600 text-sm mx-2">30% off</p>
      <h5 class="text-sm mx-2">FREE DELIVERY</h5>
    
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
</div>
</div>
</div>

<div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_152328.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Printed Black Casual Shirt <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-500</b></span><br>
          <p class="text-green-600 text-sm mx-2">50% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_152635.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">White Rounded Neck Hoodie  <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-2000</s>
          <b>RS-1500</b></span><br>
          <p class="text-green-600 text-sm mx-2">25% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>

  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/men/IMG_20230211_153843.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Grey Formal Blazer For Men<br></h4></div>
      <span class="mx-2 text-sm"><s>RS-5000</s>
        <b>RS-2500</b></span><br>
        <p class="text-green-600 text-sm mx-2">50% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/men/IMG_20230211_153851.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Pink Stripped Shirt For Men <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-800</b></span><br>
        <p class="text-green-600 text-sm mx-2">20% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

</div>


 {% endblock %}
  
 
 