{% extends 'index.html' %}

    
{% block title %}Settings{% endblock title %}
{% block body %}

    <div  >
        <div class="mx-auto flex justify-center my-auto py-10 content-center items-center">
    <h1 class="md:text-3xl text-lg  font-semibold mx-auto mt-auto">This Page Is Currently Unavailable</h1>
</div>
<div class="mx-auto flex justify-center my-auto content-center items-center">
<a href="/home"><div class="flex justify-center">
    <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Go Back
   
    </button></a>
</div>
</div>
{% endblock body %}