{% extends 'index.html' %}
{% load static %}

{% block title %}Women{% endblock title %}
{% block body %}


  
    
    


 <div class="md:hidden">
<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_152841.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Printed Blue Basic Design Kurti <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-800</b></span><br>
        <p class="text-green-600 text-sm mx-2">20% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_152909.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Red And Yellow Mix Kurti <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1200</s>
        <b>RS-900</b></span><br>
        <p class="text-green-600 text-sm mx-2">25% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>
<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_152813.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Pink Kurti <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-800</s>
        <b>RS-560</b></span><br>
        <p class="text-green-600 text-sm mx-2">30% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_152827.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Yellow Kurti <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-800</s>
        <b>RS-560</b></span><br>
        <p class="text-green-600 text-sm mx-2">30% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_152927.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Dark Blue Embroidered Gown <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-2000</s>
        <b>RS-1200</b></span><br>
        <p class="text-green-600 text-sm mx-2">40% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_152942.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Grey With Maroone Border <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-800</b></span><br>
        <p class="text-green-600 text-sm mx-2">20% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/81RghNCXJNL._UL1500_.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Light Blue Top <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-800</b></span><br>
        <p class="text-green-600 text-sm mx-2">20% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/81w5sAvmXCL._UX569_.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Navi Blue Top <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-800</s>
        <b>RS-560</b></span><br>
        <p class="text-green-600 text-sm mx-2">30% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_152954.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Maroone Printed Design Kurti <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-800</b></span><br>
        <p class="text-green-600 text-sm mx-2">20% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_153012.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Red And Black With Design <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1200</s>
        <b>RS-960</b></span><br>
        <p class="text-green-600 text-sm mx-2">20% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

   <div class="flex w-full">
      <div class="w-1/2 product ">
        <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
          <a href="#!">
            <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_153047.jpg' %}" alt=""/>
          </a>
          <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Dark Olive Green Kurti <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-1000</s>
            <b>RS-800</b></span><br>
            <p class="text-green-600 text-sm mx-2">20% off</p>
            <h5 class="text-sm mx-2">FREE DELIVERY</h5>
            
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
  </button>
        </div>
      </div>
    <div class="w-1/2 product">
      <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_153102.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Dark Gfey Slub Cotton Kurti <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-800</s>
            <b>RS-600</b></span><br>
            <p class="text-green-600 text-sm mx-2">25% off</p>
            <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  </div>
  
  <div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_153118.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Mustard Yellow Embroidered Kurti <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-800</b></span><br>
          <p class="text-green-600 text-sm mx-2">20% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_153132.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Maroone And White Kurti <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1200</s>
          <b>RS-600</b></span><br>
          <p class="text-green-600 text-sm mx-2">50% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_153238.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Stylish Maroon Long Kurti <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-800</b></span><br>
        <p class="text-green-600 text-sm mx-2">20% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_153258.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Baby Pink Red  Combination <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1500</s>
        <b>RS-900</b></span><br>
        <p class="text-green-600 text-sm mx-2">40% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

<div class="flex w-full">
  <div class="w-1/2 product ">
    <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_153317.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Yellow Printed Long Kurti <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-750</b></span><br>
        <p class="text-green-600 text-sm mx-2">25% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
    </div>
  </div>
<div class="w-1/2 product">
  <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
    <a href="#!">
      <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_153331.jpg' %}" alt=""/>
    </a>
    <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Olive Green Cotton Basic Kurti <br></h4></div>
      <span class="mx-2 text-sm"><s>RS-1000</s>
        <b>RS-750</b></span><br>
        <p class="text-green-600 text-sm mx-2">25% off</p>
        <h5 class="text-sm mx-2">FREE DELIVERY</h5>
      
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
BUY
</button>
  </div>
</div>
</div>

   <div class="flex w-full">
      <div class="w-1/2 product ">
        <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
          <a href="#!">
            <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_153348.png' %}" alt=""/>
          </a>
          <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Pink Printed Kurti With Pants <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-2000</s>
            <b>RS-1200</b></span><br>
            <p class="text-green-600 text-sm mx-2">40% off</p>
            <h5 class="text-sm mx-2">FREE DELIVERY</h5>
            
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
  </button>
        </div>
      </div>
    <div class="w-1/2 product">
      <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_153404.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Black Kurti WIth Pink Dupatta <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-1000</s>
            <b>RS-800</b></span><br>
            <p class="text-green-600 text-sm mx-2">20% off</p>
            <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
<button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
</button>
      </div>
    </div>
  </div>
</div>

<!-- lg screen property -->

<div class="hidden md:block">
  <div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_152841.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Printed Blue Basic Design Kurti <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-800</b></span><br>
          <p class="text-green-600 text-sm mx-2">20% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_152909.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Red And Yellow Mix Kurti <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1200</s>
          <b>RS-900</b></span><br>
          <p class="text-green-600 text-sm mx-2">25% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
    </div>
  </div>
  
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_152813.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Pink Kurti <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-800</s>
          <b>RS-560</b></span><br>
          <p class="text-green-600 text-sm mx-2">30% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_152827.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Yellow Kurti <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-800</s>
          <b>RS-560</b></span><br>
          <p class="text-green-600 text-sm mx-2">30% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
    </div>
  </div>
  </div>
  
  <div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_152927.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Dark Blue Embroidered Gown <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-2000</s>
          <b>RS-1200</b></span><br>
          <p class="text-green-600 text-sm mx-2">40% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_152942.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Grey With Maroone Border <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-800</b></span><br>
          <p class="text-green-600 text-sm mx-2">20% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
    </div>
  </div>
  
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/81RghNCXJNL._UL1500_.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Light Blue Top <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-800</b></span><br>
          <p class="text-green-600 text-sm mx-2">20% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/81w5sAvmXCL._UX569_.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Navi Blue Top <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-800</s>
          <b>RS-560</b></span><br>
          <p class="text-green-600 text-sm mx-2">30% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
    </div>
  </div>
  </div>
  
  <div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_152954.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Maroone Printed Design Kurti <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-800</b></span><br>
          <p class="text-green-600 text-sm mx-2">20% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_153012.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Red And Black With Design <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1200</s>
          <b>RS-960</b></span><br>
          <p class="text-green-600 text-sm mx-2">20% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
    </div>
  </div>

        <div class="w-1/2 product ">
          <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
            <a href="#!">
              <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_153047.jpg' %}" alt=""/>
            </a>
            <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Dark Olive Green Kurti <br></h4></div>
            <span class="mx-2 text-sm"><s>RS-1000</s>
              <b>RS-800</b></span><br>
              <p class="text-green-600 text-sm mx-2">20% off</p>
              <h5 class="text-sm mx-2">FREE DELIVERY</h5>
              
    <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
      BUY
    </button>
          </div>
        </div>
      <div class="w-1/2 product">
        <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
          <a href="#!">
            <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_153102.jpg' %}" alt=""/>
          </a>
          <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Dark Gfey Slub Cotton Kurti <br></h4></div>
            <span class="mx-2 text-sm"><s>RS-800</s>
              <b>RS-600</b></span><br>
              <p class="text-green-600 text-sm mx-2">25% off</p>
              <h5 class="text-sm mx-2">FREE DELIVERY</h5>
            
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
  </button>
        </div>
      </div>
    </div>
    
    <div class="flex w-full">
      <div class="w-1/2 product ">
        <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
          <a href="#!">
            <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_153118.jpg' %}" alt=""/>
          </a>
          <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Mustard Yellow Embroidered Kurti <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-1000</s>
            <b>RS-800</b></span><br>
            <p class="text-green-600 text-sm mx-2">20% off</p>
            <h5 class="text-sm mx-2">FREE DELIVERY</h5>
            
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
  </button>
        </div>
      </div>
    <div class="w-1/2 product">
      <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_153132.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Maroone And White Kurti <br></h4></div>
          <span class="mx-2 text-sm"><s>RS-1200</s>
            <b>RS-600</b></span><br>
            <p class="text-green-600 text-sm mx-2">50% off</p>
            <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
      </div>
    </div>

    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_153238.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Stylish Maroon Long Kurti <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-800</b></span><br>
          <p class="text-green-600 text-sm mx-2">20% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_153258.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Baby Pink Red  Combination <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1500</s>
          <b>RS-900</b></span><br>
          <p class="text-green-600 text-sm mx-2">40% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
    </div>
  </div>
  </div>
  
  <div class="flex w-full">
    <div class="w-1/2 product ">
      <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
        <a href="#!">
          <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_153317.jpg' %}" alt=""/>
        </a>
        <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Yellow Printed Long Kurti <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-750</b></span><br>
          <p class="text-green-600 text-sm mx-2">25% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
          
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
      </div>
    </div>
  <div class="w-1/2 product">
    <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
      <a href="#!">
        <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_153331.jpg' %}" alt=""/>
      </a>
      <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Olive Green Cotton Basic Kurti <br></h4></div>
        <span class="mx-2 text-sm"><s>RS-1000</s>
          <b>RS-750</b></span><br>
          <p class="text-green-600 text-sm mx-2">25% off</p>
          <h5 class="text-sm mx-2">FREE DELIVERY</h5>
        
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  BUY
  </button>
    </div>
  </div>

        <div class="w-1/2 product ">
          <div class="rounded-lg ml-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
            <a href="#!">
              <img class=" mx-auto border border-gray-400 border-t-gray-200  w-11/12" src="{% static 'images/women/IMG_20230211_153348.png' %}" alt=""/>
            </a>
            <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Pink Printed Kurti With Pants <br></h4></div>
            <span class="mx-2 text-sm"><s>RS-2000</s>
              <b>RS-1200</b></span><br>
              <p class="text-green-600 text-sm mx-2">40% off</p>
              <h5 class="text-sm mx-2">FREE DELIVERY</h5>
              
    <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
      BUY
    </button>
          </div>
        </div>
      <div class="w-1/2 product">
        <div class="rounded-lg mr-2 shadow-lg border border-gray-400 bg-white  mx-1 my-2">
          <a href="#!">
            <img class=" mx-auto border border-gray-400 border-t-gray-200 w-11/12" src="{% static 'images/women/IMG_20230211_153404.jpg' %}" alt=""/>
          </a>
          <div class="text-base a-section a-spacing-none image-label aok-inline-block aok-align-center"><h4 class="text-base mx-2 a-color-base truncate-2line">Black Kurti WIth Pink Dupatta <br></h4></div>
            <span class="mx-2 text-sm"><s>RS-1000</s>
              <b>RS-800</b></span><br>
              <p class="text-green-600 text-sm mx-2">20% off</p>
              <h5 class="text-sm mx-2">FREE DELIVERY</h5>
            
  <button class="bg-green-500 hover:bg-green-400 my-3 mx-3 text-white font-bold py-1 px-2 border-b-4 border-blue-700 hover:border-blue-500 rounded">
    BUY
  </button>
        </div>
      </div>
    </div>
  </div>

 {% endblock %}
  
 
 